* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* LOGIN */
.login-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #4f46e5;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
}

.sidebar {
  width: 220px;
  background: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.menu-item {
  margin-bottom: 12px;
  cursor: pointer;
}

.sidebar-btn {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.main {
  flex: 1;
  padding: 40px;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* FORM */
.form-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.form-card textarea,
.form-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form-actions {
  text-align: right;
}

/* CONFESSION CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.reaction {
  background: #f1f3f5;
  border-radius: 20px;
  padding: 6px 12px;
  margin-right: 8px;
  border: none;
  cursor: pointer;
}
.menu-item {
  padding: 8px 0;
  cursor: pointer;
  color: #555;
}

.menu-item.active {
  font-weight: bold;
  color: #4f46e5;
}

.edit-btn {
  background: #4f46e5;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.delete-btn {
  background: #ef4444;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
